/ h1 Edit Post
/ = form_for :post, url: edit_posts_path(@post.id), method: :put do |f|
/   p
/     = f.label :title 
/     br
/     = f.text_field :title 
/     br

/   p
/     = f.label :text 
/     br
/     = f.text_area :text 
/     br

/   p
/     = f.submit
/ end

h1 Editing post
/ = form_for :post, url: post_path(@post.id), method: :put do |f|
/   p
/     = f.label :title
/     br
/     = f.text_field :title
/   p
/     = f.label :name
/     br
/     = f.text_field :name
/   p
/     = f.label :text
/     br
/     = f.text_area :text
/   p
/     = f.submit 'Update'
= render 'form'

  = link_to 'Back', posts_path

/ = link_to 'Back to all Posts', posts_path