h1 Listing all Posts

table
  tr
    th Title
    th Posts
    th Name

  - @posts.each do |post|
    tr
      td = post.title
      td = post.content
      td = post.name
      td = link_to 'Show post', post_path(post)
      td = link_to 'Edit post', edit_post_path(post)
      td = link_to 'Delete post', post_path(post), confirm: 'Are you sure?', method: :delete
    end

p 
  = link_to 'Create a new Post', new_post_path
