h1 New Post
/ = form_for :post, url: posts_path do |f|
  / -if @post.errors.any?
  / #errorExplanation
  /   h2 = pluralize(@post.errors.count, "error") 
  /     |prohibited this post from being saved
  /   ul
  /   -@post.errors.full_messages.each do |msg|
  /     li = msg
/   p
/     = f.label :title 
/     br
/     = f.text_field :title 
/     br
/   p
/     = f.label :name
/     br
/     = f.text_field :name

/   p
/     = f.label :text 
/     br
/     = f.text_area :text 
/     br

/   p
/     = f.submit
/ end

= render 'form'

p 
  = link_to 'Back to all Posts', posts_path
