p#notice = notice
h1 Post

p
  strong Title:
  = @post.title
p
  strong Name:
  = @post.name
p
  strong Content:
  = @post.content
p
  b Tags:
  = join_tags(@post)

h2 Comments
= render @post.comments

h2 Add a Comment
= render 'comments/form'

p
  = link_to 'Edit this Post', edit_post_path
p
  = link_to 'Back to all Posts', posts_path